In [2]:
import pandas as pd
import numpy as np

In [12]:
#init all of the filenames and dataframes
datasets = {    'small'     :  {'movies' : "ml-latest-small/movies.csv" , 'ratings' : "ml-latest-small/ratings.csv" , 'tags' : "ml-latest-small/tags.csv"},
                'large'     :  {'movies' : "ml-latest/movies.csv"       , 'ratings' : "ml-latest/ratings.csv"       , 'tags' : "ml-latest/tags.csv"}}
dataframes= {   'small'     :  {'final'  : None, 'movies' : None, 'ratings' :  None, 'tags' : None},
                'large'     :  {'final'  : None, 'movies' : None, 'ratings' :  None, 'tags' : None}}

In [16]:
# read in the datasets
# ASSUMPTION TO BE MADE HERE: how do we fill the na?
# We chose 0
for size in dataframes:
    for type in dataframes[size]:
        if not type == 'final':
            dataframes[size][type] = pd.read_csv(datasets[size][type],sep=',')
for size in dataframes:
    dataframes[size]['final'] = dataframes[size]['ratings'].pivot(index='userId',columns='movieId')

AttributeError: 'NoneType' object has no attribute 'pivot'

        rating                                                                 \
movieId 1      2      3      4      5      6      7      8      9      10
userId
1          4.0    NaN    4.0    NaN    NaN    4.0    NaN    NaN    NaN    NaN
2          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5          4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
606        2.5    NaN    NaN    NaN    NaN    NaN    2.5    NaN    NaN    NaN
607        4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
608        2.5    2.0    2.0    NaN    NaN    NaN    NaN    NaN    NaN    4.0
609        3.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    4.0
610        5.0    NaN    NaN    NaN    NaN    5.0    NaN    NaN    NaN    NaN

         ... timestamp                                                   \
movieId  ...    193565 193567 193571 193573 193579 193581 193583 193585
userId   ...
1        ...       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2        ...       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3        ...       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4        ...       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5        ...       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...      ...       ...    ...    ...    ...    ...    ...    ...    ...
606      ...       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
607      ...       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
608      ...       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
609      ...       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
610      ...       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN


movieId 193587 193609
userId
1          NaN    NaN
2          NaN    NaN
3          NaN    NaN
4          NaN    NaN
5          NaN    NaN
...        ...    ...
606        NaN    NaN
607        NaN    NaN
608        NaN    NaN
609        NaN    NaN
610        NaN    NaN

[610 rows x 19448 columns]